{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:crb/general"
  ],
  "env": {
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "ignorePatterns": [
    "*.d.ts"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ]
}
