<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Server Error</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html {
      background: #333;
    }
    body {
      color: #f8f8f8;
      font-family: sans-serif;
      padding: 2em;
    }

    p, pre {
      font-size: 20px;
    }
  </style>
</head>
<body>
  <h1>An Error Occurred</h1>
  <h2>Error Message</h2>
  <p>{{message}}</p>
  <h2>Error Stack</h2>
  <pre>{{stack}}</pre>
</body>
</html>
