<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upcoming Week</title>

  <style>
    body {
      color: #333;
      display: flex;
      font-family: sans-serif;
    }

    button {
      background: #fff;
      border: solid 1px #666;
      border-radius: 5px;
      color: #333;
      cursor: pointer;
      font-size: 16px;
      padding: 8px 12px;
    }

    button:hover {
      background: #e9e9e9;
    }

    p {
      margin: 10px 0;
    }

    .success .message {
      color: #248742;
    }

    .error .message {
      color: #ac2323;
    }

    .hide {
      display: none;
    }
  </style>
</head>
<body>
  <button class="add">Add Following Week</button>
  <p class="running hide">Adding following week...</p>
  <div class="success hide">
    <p class="message">Success!</p>
    <p><button class="okay">Okay</button></p>
  </div>
  <div class="error hide">
    <p class="message">Error!</p>
    <p><button class="okay">Okay</button></p>
  </div>

  <script>
    const addButton = document.querySelector('.add')
    const running = document.querySelector('.running')
    const successMessage = document.querySelector('.success')
    const errorMessage = document.querySelector('.error')

    const show = (el) => { el.classList.remove('hide') }
    const hide = (el) => { el.classList.add('hide') }
    const showError = (error) => {
      errorMessage.querySelector('.message').innerText = `Error: ${error.message}`
      show(errorMessage)
    }

    addButton.addEventListener('click', () => {
      hide(addButton)
      show(running)

      fetch(location.href, { method: 'POST' })
      .then((res) => {
        hide(running)

        if (res.ok) {
          show(successMessage)
        } else {
          res.json().then((error) => {
            showError(error)
          })
        }
      })
      .catch((error) => {
        hide(running)
        showError(error)
      })
    })

    Array.from(document.querySelectorAll('.okay')).forEach((okayButton) => {
      okayButton.addEventListener('click', () => {
        hide(okayButton.parentElement.parentElement)
        show(addButton)
      })
    })
  </script>
</body>
</html>
